<mat-slide-toggle
	color="primary"
	class="absolute left-[calc(100%-120px)] top-3 text-black dark:text-primary-500"
	(click)="toggleDarkMode()"
	>{{ mode | uppercase }}</mat-slide-toggle
>
<mat-slide-toggle
	color="primary"
	class="absolute left-[calc(100%-120px)] top-9 text-black dark:text-primary-500"
	[(ngModel)]="purpleSkin"
	(change)="togglePurpleSkin()"
	>{{ 'purple' | uppercase }}</mat-slide-toggle
>

<button mat-flat-button class="!bg-red-600 dark:bg-white !text-white dark:text-red-400">
	Material Button
</button>
<button class="px-4 py-2 rounded bg-primary-800 dark:bg-primary-300">Tailwind Button</button>
<h1 class="text-3xl font-bold underline text-primary-700 dark:text-primary-300">Hello world!</h1>
<h1 class="text-primary-600 dark:primary-300">Tailwind Heading One</h1>
<div class="px-4">
	<app-progressbar></app-progressbar>

</div>
